@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section style="color: black; padding: 40px 20px; text-align: center; max-width: 800px; margin: 40px auto;">
    <h1>BIENVENIDO A SPORTFIELDBOOKING</h1>
    <p>
        Disfruta de nuestras instalaciones premium con servicio de reserva para canchas deportivas de Fútbol, Baloncesto, Pádel y Vóley Playa.
        Reserva fácil y rápido para una experiencia deportiva inmejorable.
    </p>
    <p>
        <strong>Autores:</strong> Juan Carmona, Juan David Ramon, Andres Rojas y Miguel Reyes
    </p>
</section>

<section style="color: black; padding: 40px 20px; text-align: center; max-width: 800px; margin: 40px auto;">
    <h1>Cancha Padel</h1>
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/g7_1Z_UplQk"
        frameborder="0"
        allowfullscreen>
</iframe>
</section>

<section style="color: black; padding: 40px 20px; text-align: center; max-width: 800px; margin: 40px auto;">
    <h1>Volléy Playa</h1>
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/xF2rzbI3hoM"
        frameborder="0"
        allowfullscreen>
</iframe>
</section>
